html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #092B40;
    color: #fff;
    overflow-x: hidden;
}

.container-fluid{
    position: absolute;
    width: 100%;
    min-width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.height{
    height: 100%;
}

.random-text{
    text-transform: capitalize;
    transition-duration: .25s;
}

.random-text a{
    display: block;
    margin-top: 15px;
    color: white;
    margin-bottom: 15px!important;
}

.random-text a:hover{
    text-decoration: none;
}

.random-text:hover{
    cursor: pointer;
    /*transform: scale(1.25, 1.25);*/
}

input{
    color: #fff;
    background-color: inherit;
    border: 2px solid orange;
    border-radius: 10px;
    text-indent: 5px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 50%;
    border-width: 3px;
    width: 30px;
    transition-duration: .2s;
    padding-right: 30px;
}

input:focus{
    outline: none;
}

.search-container{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.search-input:hover{
    cursor: default;
}

.cross:hover{
    cursor: pointer;
}

.expand-search{
    width: 200px;
    border-radius: 10px;
    transition-duration: .2s;
}
.expand-search:hover{
    cursor: text;
}
.search-handle{
    display: inline-block;
    position: relative;
    height: 13px;
    top: 15px;
    left: -7px;
    border-left: 3px solid orange;
    transform: rotate(-45deg);
    transition-duration: .2s;
}

.collapse-search-handle{
    height: 0;
    transition-duration: .2s;
}

.search{
    transition-duration: .2s;
}

form.open span:nth-child(3){
    position: relative;
    display: inline-block;
    left: -35px;
    background-color: orange;
    transform: rotate(45deg);
}
form.open span:nth-child(4){
    position: relative;
    display: inline-block;
    left: -43px;
    background-color: orange;
    transform: rotate(-45deg);
}

.show{
    opacity: 1;
}


.results{
    position: relative;
    opacity: 0;
    top: 10px;
    padding: 5px;
    animation: fade .4s ease-in forwards;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    color: black;
}

@keyframes fade{
    100% {opacity: 1}
}
